<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!--定义rabbitmq connectionFactory-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}" port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>

    <bean id="springQueueListener" class="cn.fan.tc.listener.SpringQueueListener"></bean>
    <bean id="fanoutListener1" class="cn.fan.tc.listener.FanoutListener1"></bean>
    <bean id="fanoutListener2" class="cn.fan.tc.listener.FanoutListener2"></bean>
    <bean id="topicListenerStar" class="cn.fan.tc.listener.TopicListenerStar"></bean>
    <bean id="topicListenerWel1" class="cn.fan.tc.listener.TopicListenerWel1"></bean>
    <bean id="topicListenerWel2" class="cn.fan.tc.listener.TopicListenerWel2"></bean>

    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true">
        <rabbit:listener ref="springQueueListener" queue-names="spring_queue"/>
        <rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>
        <rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>
        <rabbit:listener ref="topicListenerStar" queue-names="spring_topic_queue_star"/>
        <rabbit:listener ref="topicListenerWel1" queue-names="spring_topic_queue_wel1"/>
        <rabbit:listener ref="topicListenerWel2" queue-names="spring_topic_queue_wel2"/>
    </rabbit:listener-container>

</beans>